body {
  padding-top: 50px;
  padding-bottom: 70px; 
}

a.navbar-brand {
  font-family: 'Clicker Script', cursive;
  font-size: 40px;
  color: white;
}

.starter-template {
  padding: 40px 15px;
  text-align: left;
  /*background: #00FFFF;*/
}

.img-circle {
  padding: 25px;
  float: left;
}

#animated-text{
  color: gray;
  font-size: 50px;  
  width: 10em;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: type 4s steps(50, end);
  animation: type 4s steps(50, end);
}

@keyframes type{
  from { width: 0; }
   to { width:400px; }
}

span{
  animation: blink 1s infinite;
}

@keyframes blink{
  to{ opacity: .0;}
}

.jumbotron{
  background-color: #00FFFF;
  text-align: center;
}

div.blog-post{
  padding-left: 55px;
  padding-bottom: 20px;
}
.post-title{
  font-family: 'Clicker Script', cursive;
  color: gray;
}

.date{
  color: #00FFFF;
  font-size: 18px;
}

div.about{
  padding: 30px;
}
.social-container{
  padding: 30px; 
}

.social {
    margin: 0;
    padding-top: 200;
}

.social ul {
    margin: 0;
    padding: 5px;
    text-align: center;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}
.footer{
  background: black;
  text-align: center;
  color: gray;
}

